<p id="notice"><%= notice %></p>

<p>
  Welkom 
  <%= @user.name %>,
  <br />
  Klik op de cadeaukaart van je keuze. Vergeet niet te bevestigen met de knop beneden.
</p>

<div>
  <%= form_for @user do |f| %>
    <label>
      <%= f.radio_button :choice, 'bol' %>
      <img width=25% height=25% src="/images/bol.png">
    </label>
    <label>
      <%= f.radio_button :choice, 'ici' %>
      <img width=25% height=25% src="/images/iciparis.png">
    </label>
    <label>
      <%= f.radio_button :choice, 'podium' %>
      <img width=25% height=25% src="/images/podium.jpeg">
    </label>
    <label>
      <%= f.radio_button :choice, 'zalando' %>
      <img width=25% height=25% src="/images/zalando.png">
    </label>
    <label>
      <%= f.radio_button :choice, 'hema' %>
      <img width=25% height=25% src="/images/hema.jpeg">
    </label>
    <label>
      <%= f.radio_button :choice, 'karwei' %>
      <img width=25% height=25% src="/images/karwei.png">
    </label>
</div>
  <%= f.submit "Bevestig keuze"%>
  <% end %>
