<p id="notice"><%= notice %></p>
<div id='code_note'>
<p>
  Welkom 
  <%= @user.name %>,
  <br />
  Als kerstgeschenk mogen wij je een cadeaukaart t.w.v. €60,- aanbieden. 
  <br />
  Klik op de cadeaukaart van je keuze. Vergeet niet te bevestigen met de knop beneden.
</p>
</div>
<div>
  <%= form_for @user do |f| %>
    <label>
      <%= f.radio_button :choice, 'bol' %>
      <img class='thumb' src="/images/bol.png">
    </label>
    <label>
      <%= f.radio_button :choice, 'iciparis' %>
      <img class='thumb'  src="/images/iciparis.png">
    </label>
    <label>
      <%= f.radio_button :choice, 'podium' %>
      <img class='thumb'  src="/images/podium.png">
    </label>
    <label>
      <%= f.radio_button :choice, 'zalando' %>
      <img class='thumb'  src="/images/zalando.png">
    </label>
    <label>
      <%= f.radio_button :choice, 'hema' %>
      <img class='thumb'  src="/images/hema.png">
    </label>
    <label>
      <%= f.radio_button :choice, 'karwei' %>
      <img class='thumb'  src="/images/karwei.png">
    </label>
</div>
  <%= f.submit "Bevestig keuze"%>
  <% end %>
