<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<div>
  Please select:
  <%= form_for @user, data: { confirm: 'confirm tekst' } do |f| %>
    <label>
      <%= f.radio_button :choice, '1' %>
      <img src="http://placehold.it/350x150/35d/fff&text=Bol.com">
    </label>
    <label>
      <%= f.radio_button :choice, '2' %>
      <img src="http://placehold.it/350x150/35d/fff&text=Zweepslagen">
    </label>
    <label>
      <%= f.radio_button :choice, '3' %>
      <img src="http://placehold.it/350x150/35d/fff&text=Handdruk">
    </label>
    <label>
      <%= f.radio_button :choice, '4' %>
      <img src="http://placehold.it/350x150/35d/fff&text=LEGO%20bon">
    </label>
    <label>
      <%= f.radio_button :choice, '5' %>
      <img src="http://placehold.it/350x150/35d/fff&text=Auto">
    </label>
    <%= f.submit %>
  <% end %>
</div>